* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #EAEAEA;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

} 


.logo {
  position: fixed;
  z-index: 999;
  color: #fff;
  margin: 0.5rem;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
  font-style: italic;
  text-decoration: line-through;
  animation: colorChange 5s infinite;
 }

 @keyframes colorChange {
  0% {
    color: #FF0000; /* Red */
  }
  25% {
    color: #00FF00; /* Green */
  }
  50% {
    color: #0000FF; /* Blue */
  }
  75% {
    color: #FFFF00; /* Yellow */
  }
  100% {
    color: #FF00FF; /* Magenta */
  }
}


nav {
    background-color: #183642;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
  }
 
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display:inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-style: italic;
  }
  
  nav ul li a {
    display: flex;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #313D5A;
    color: #EAEAEA;
  }

  /* Main container */

  .container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .item {
    padding: 0.5rem;
    border: 0.2rem solid #73628A;
    border-radius: 0.3rem;
    margin: 5rem 2rem 0 5rem;
    background-color: #CBC5EA;
  }

  .item img {
    max-width: 300px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 0.2rem;
  }
  
  .item img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }

  .content :hover {
    transform: scale(1);
    transition: 0.5s;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }

  .content {
    background-color: #CBC5EA;
    padding: 1rem;
    max-width: 40rem;
    max-height: 50rem;
    margin-top: 5rem;
    margin-right: 2rem;
    border-radius: 0.3rem;
    border: 0.2rem solid #73628A;


  }

  .content p {
    margin-top: 0.5em;
  }


  /* second page container */




  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #313D5A;
  }
  
  .card {
    width: 400px;
    height: 100%;
    margin: 10px;
    text-align: center;
    border-radius: 0.5em;
    background-color: #CBC5EA;
    border: 0.2rem solid #73628A;



  }

  .card :hover {
    transform: scale(1.01);
    transition: 0.5s;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  
  .card a {
    text-decoration: none;
    color: #333;
  }
  
  .card img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 0.2em 0.2em 0 0;
  }
  
  .card h3 {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: -0.3em;
    background-color: #313D5A;
    border-radius: 0 0 0.2em 0.2em;
    color: white;
    padding: 0.5rem;
    font-family: fantasy;
    opacity: 1;
  }

  .card:hover h3 {
    opacity: 1;
    background-color: #183642;
  }
  
  @media (max-width: 1500px) {
   .card-container {
    justify-content: flex-start;
   }

   .card {
    width: calc(33.33% - 20px);
   }
  }

  @media (max-width: 1076px) {
    .card-container {
      justify-content: flex-start;
    }
    
    .card {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 714px) {
    .card {
      width: 100%;
    }
}


 /* footer  */

 footer {
  background-color: #62466B;
  color: #fff;
  text-align: center;
  border: 0.2rem solid #73628A;
}

.footer-container {
  height: 100vh;
  width: 100%;
}

.footer-text h5 {
  font-size: 4rem;
  font-family: fantasy;
  padding-top: 10rem;
}

.footer-text p {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.5rem;
}

.footer-links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

p {
margin-top: 4rem;
}

.last-text {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  margin-top: 2rem;


}


  /* loader */

  .loader {
  position: relative;
  width: 75px;
  height: 100px;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: rgb(0, 0, 0);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(44, 143, 255);
  border-radius: 50%;
  -webkit-animation: ball624 4s infinite;
  animation: ball624 4s infinite;
}

@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(8px, -14px);
  }

  10% {
    transform: translate(15px, -10px);
  }

  17% {
    transform: translate(23px, -24px);
  }

  20% {
    transform: translate(30px, -20px);
  }

  27% {
    transform: translate(38px, -34px);
  }

  30% {
    transform: translate(45px, -30px);
  }

  37% {
    transform: translate(53px, -44px);
  }

  40% {
    transform: translate(60px, -40px);
  }

  50% {
    transform: translate(60px, 0);
  }

  57% {
    transform: translate(53px, -14px);
  }

  60% {
    transform: translate(45px, -10px);
  }

  67% {
    transform: translate(37px, -24px);
  }

  70% {
    transform: translate(30px, -20px);
  }

  77% {
    transform: translate(22px, -34px);
  }

  80% {
    transform: translate(15px, -30px);
  }

  87% {
    transform: translate(7px, -44px);
  }

  90% {
    transform: translate(0, -40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@-webkit-keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@-webkit-keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@-webkit-keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@-webkit-keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}
  

  

